@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #FCF8F3;
    margin: 0;
    overflow: hidden;
    display: flex;
}

.circle {
    display: flex;
    width: 70em;
    height: 80em;
    background-color: #faa938;
    border-radius: 50%;
    position: fixed;
    top: 20em;
    left: 10em;
    transform: translateY(-50%) translateX(-50%);
}


.imgSign {
    position: absolute;
    height: 40em;
    width: 40em;
    left: 37em;
    top: 30em;
}

.contanerBranco {
    position: absolute;
    top: 36em;
    right: -45em;

}

.h2 {
    margin: 0 0 0 1em;
    color: #000;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    margin-right: 1em;
}

.icons-container {
    margin: 1em 0 1em 7em;
    gap: 2em;
}

.icons {
    gap: 2em;
    height: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.inputLogin {
    white-space: nowrap;
    height: 3.5em;
    padding-left: 1em;
    width: 25em;
    color: #7b7b7b;
    border: 0;
    background-color: #fff0d9;
}

.inputLogin:focus {
    outline: none;
}

.linha-senha {
    justify-content: center;
}

.mostrar-senha label {
    cursor: pointer;
}

.EsqueciS {
    margin-top: 1em;
    gap: 1em;
}

.button {
    border: none;
    background-color: #faa938;
    color: #fff;
    border-radius: 3em;
    font-size: 1.3em;
    width: 6em;
    height: 2em;
    margin: 2.5em 7em 0 0;
}


.senha {
    color: #7b7b7b;
    font-family: Arial, sans-serif;
    font-size: 1em;
    align-items: center;
    text-decoration: underline;
    font-weight: 200;
    margin-left: 7em;
}

.mostrar-senha {
    color: #000;
    font-size: 1em;
    font-family: Arial, sans-serif;
    margin-left: 3em;
}

.button {
    margin-left: 5em;
}

.cadastro-conta {
    padding: 0 2em 0 0;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 400
}

.cadastro {
    color: #7b7b7b !important;
}

#termoCondicaoL,
#labelSenha,
#lembrarSenha {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: 1em;
    font-weight: 200;
}
 
/*Cadastar*/
.tela{
    display: flex;
    width: 100%;
    height: 100vh;
}


.lado-esquerdo{
    width: 50%;
    padding: 7em 11em 7em 13em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
}

.lado-esquerdo h1{
    font-size: 3.5em;
    margin-bottom: .5em;
}

.social-icons{
    margin: 0 9em 2em;
    gap: 2.5em;
}

.social-icons img{
    width: 2.3em;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    max-width: 28em;
}

.input-box{
    white-space: nowrap;
    height: 3.5em;
    padding-left: 1em;
    width: 25em;
    color: #7b7b7b;
    border: 0;
    background-color: #fff0d9;
}

.input-box input{
    border: none;
    background: transparent;
    width: 100%;
    outline: none;
}

.checks{
    display: flex;
    justify-content: space-between;
    font-size: .9em;
}

.btn{
    border: none;
    background-color: #faa938;
    color: #fff;
    border-radius: 3em;
    font-size: 1.3em;
    width: 6em;
    height: 2em;
    margin: 1em 1em 0 ;
}

.login{
    margin-top: 1em;
    font-size: .9em;
}

.lado-direito{
    width: 50%;
    position: relative;
}

.fundo-laranja{
    display: flex;
    width: 70em;
    height: 80em;
    background-color: #faa938;
    border-radius: 50%;
    position: fixed;
    top: 20em;
    left: 95em;
    transform: translateY(-50%) translateX(-50%);
}

.img-cadastro{
    position: absolute;
    height: 40em;
    width: 40em;
    left: 47em;
    top: 12em;   
    position: fixed;
}

.fundo-laranja,
.img-cadastro {
    position: absolute;
    z-index: 1;
}

.h2-cad {
    color: #000;
    font-size: 4em;
    font-family: "Roboto", sans-serif;
    font-weight: 550;
    margin-left: 2.1em;   
}

.formulario,
.inputs,
.inputLogin {
    position: relative;
    z-index: 10;
}